
###> symfony/framework-bundle ###
symfony/.env.local
symfony/.env.local.php
symfony/.env.*.local
symfony/config/secrets/prod/prod.decrypt.private.php
symfony/public/bundles/
symfony/var/
symfony/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###